@font-face {
    font-family: hitchcock_font;
    src: local(hitchcock_font), url('Hitchcock.ttf') format('opentype');
}

/* colors
	beige: ;
	maroon: 5C120F;
	deep red: A71E23;

*/


body {
	font-family: optima;
	

	background-color: #FFFBEC;
}

h1, h2, h3, h4 {
	font-family: Raleway;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -70px;
}

.image-crop{
	margin-top:15px;
	width:auto;
	height:230px;
	overflow: hidden;
}

.card-photos{
		
}

.push, .footer {
	height: 70px;
}

.header {
	background-color: #5C120F;
	color: #FFFBEC;
}

.header a:link, .header a:visited {
	color: #FFFBEC;
	font-family: Raleway;
}

.header a:hover {
	color: #A71E23;
	font-family: Raleway;
	text-decoration: none;
}

.main-content {
	
	color: black;
}

.title	{
	font-size: 3em;
}

.hitchcock {
	font-family: hitchcock_font;
}

.intro-story {
	font-style: italic;
	margin-top: 20px;
}